:root {
    --background-color: #545E75;
    --color-primary: #304D6D;
    --color-secondary: #A7CCED;
    --color-tertiary: #82A0BC;
    --color-light: #63ADF2;
    --color-grey: #C4C9D4
}

@font-face {
    font-family: Comfortaa;
    src: url('/static/ticketing/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}

body,
html {
    cursor: url(../img/cursor__metal.cur), pointer
}

.navbar-margin-left {
    margin-left: 32px
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
}

body {
    background-color: var(--background-color);
    font-family: arial
}

.fl-left {
    float: left
}

.fl-right {
    float: right
}

.btn-pull-right {
    position: absolute;
    right: 1rem;
    bottom: 1rem
}

h1 {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid var(--color-primary);
    padding-left: 10px;
    color: var(--color-primary)
}

h3 {
    font-family: Poppins, sans-serif
}

.row {
    overflow: hidden
}

.card {
    display: table-row;
    width: 49%;
    background-color: var(--color-grey);
    color: #000;
    margin-bottom: 10px;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    position: relative
}

.card+.card {
    margin-left: 2%
}

.date {
    display: table-cell;
    width: 25%;
    position: relative;
    text-align: center;
    border-right: 2px dashed #dadde6
}

.date:after,
.date:before {
    display: block;
    width: 30px;
    height: 30px;
    background-color: #dadde6;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    border-radius: 50%
}

section .date {
    background-color: var(--color-tertiary)
}

.date:after {
    top: auto;
    bottom: -15px
}

.date time {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.date time span {
    display: block
}

.date time span:first-child {
    color: #2b2b2b;
    font-weight: 600;
    font-size: 250%
}

.date time span:last-child {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -10px;
    color: #000
}

.card-cont {
    display: table-cell;
    width: 75%;
    font-size: 85%
}

.card-cont h3 {
    color: #3c3c3c;
    font-size: 130%
}

.row:last-child .card:last-of-type .card-cont h3 {
    text-decoration: line-through
}

.card-cont>div {
    display: table-row
}

.card-cont .even-date i,
.card-cont .even-date time,
.card-cont .even-info i,
.card-cont .even-info p {
    display: table-cell
}

.date-created {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600
}

.card-cont .even-date i,
.card-cont .even-info i {
    padding: 5% 5% 0 0
}

.card-cont .even-info p {
    padding: 30px 50px 0 0
}

.card-cont .even-date time span {
    display: block
}

.card-cont a {
    display: block;
    text-decoration: none;
    width: 80px;
    height: 30px;
    background-color: #d8dde0;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px
}

.ticket-name {
    color: #fff;
    font-weight: 700;
    background-color: var(--color-primary);
    width: 100%;
    font-size: x-large;
    border-radius: 32px
}

.ticket-number {
    font-size: medium;
    font-weight: 700
}

.margin-right {
    margin-right: 10px
}

.btn-outline-ticket {
    color: #000;
    font-weight: 700;
    border-color: #fce8a1;
    border-width: 2px
}

h5.modal-title {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid var(--color-primary);
    padding-left: 10px;
    color: #989898
}

.card:hover {
    box-shadow: 0 0 0 .25rem var(--color-primary)
}

.btn-check:focus+.btn-outline-ticket,
.btn-outline-ticket:focus {
    box-shadow: 0 0 0 .25rem rgba(253, 237, 13, .5)
}

.date-modal {
    display: flex;
    background-color: var(--color-light);
    min-height: 32px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap
}

.date-modal .time-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center
}

.date-modal time span {
    display: block
}

.span-date {
    background-color: #2b2b2b;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2rem;
    color: #dadde6;
    font-size: 4rem;
    font-family: 'Luckiest Guy', cursive
}

.date-modal time span:first-child {
    color: #2b2b2b;
    font-size: 4rem;
    font-family: 'Luckiest Guy', cursive
}

.date-modal time span:last-child {
    color: #2b2b2b;
    font-size: 4rem;
    font-family: 'Luckiest Guy', cursive
}

.priority-badge {
    color: #fff;
    padding: 1rem 7.5rem 1rem 7.5rem;
    position: relative;
    font-size: 2rem;
    left: 10.5rem;
    border-radius: 2rem
}

.btn-close {
    position: relative;
    right: 1rem
}

.ticket-searchbar {
    height: 4rem;
    margin: 1rem 1rem 1rem 1rem;
    width: 95.5%;
    position: relative;
    left: 1rem;
    background: rgb(255 255 255);
    align-items: center;
    border-radius: 1rem;
    border-color: var(--color-secondary);
    border-style: solid;
    border-width: 5px;
    padding: 10px;
    text-align: center
}

.search-bar-container input {
    height: 4rem;
    font-family: Poppins;
    font-size: 1.5rem;
    color: #212529;
    text-transform: uppercase;
    font-weight: 600
}

.ticket-searchbar:focus {
    border: 5px solid var(--color-secondary);
    outline: 0
}

.ticket-searchbar:hover {
    border: 5px solid var(--color-primary)
}

.search-icon {
    position: relative;
    border: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0);
    right: 2rem;
    padding: 1px
}

.tickets-header {
    position: relative;
    left: 2%;
    color: #f5f5f5
}

.modal-body input {
    font-family: Comfortaa;
    background: #fff;
    outline: 0;
    border: solid 4px var(--color-secondary)
}

.modal-body textarea {
    font-family: Comfortaa;
    background: rgba(0, 0, 0, 0);
    outline: 0;
    border: solid 4px var(--color-secondary)
}

.modal-body #description-input-modal {
    font-family: Comfortaa;
    background: rgba(0, 0, 0, 0);
    outline: 0;
    border: solid 4px var(--color-secondary);
    max-height: 24rem;
    overflow-y: scroll
}

.modal-body label {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: large
}

#description-input-modal::-webkit-scrollbar {
    width: 7px
}

#description-input-modal::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
    border-color: transparent
}

#description-input-modal::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px
}

#description-input-modal::-webkit-scrollbar-thumb:hover {
    background: #000
}

.ticketing-header__button {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.add-ticket__System {
    border: solid 4px var(--color-secondary)
}

.add-ticket__priority {
    border: solid 4px var(--color-secondary)
}

.add-ticket__ticketname:hover {
    border: solid 4px var(--color-primary)
}

.add-ticket__description:hover {
    border: solid 4px var(--color-primary)
}

.add-ticket__System:hover {
    border: solid 4px var(--color-primary)
}

.add-ticket__priority:hover {
    border: solid 4px var(--color-primary)
}

.add-ticket__ticketname:focus {
    border: solid 4px var(--color-primary)
}

.add-ticket__description:focus {
    border: solid 4px var(--color-primary)
}

.add-ticket__System:focus {
    border: solid 4px var(--color-primary)
}

.add-ticket__priority:focus {
    border: solid 4px var(--color-primary)
}