{{ define "title"}}
<title>
	Dashboard · Ticketing
</title>
{{ end }}

{{ define "style" }}
<link rel="stylesheet" href="/static/ticketing/css/tickets.css">
{{ end }}

{{ define "content" }}
<div class="row ticketing-header">
	<div class="col-6 ticketing-header__title">
		<h1 class="tickets-header">Tickets</h1>
	</div>

	<div class="col-6 ticketing-header__button">
		<button class="add-ticket-button btn btn-outline-light btn-lg">Add Ticket</button>
	</div>
</div>

<section class="row">
	<div class="container">
		<div class="search-bar-container">
			<input type="text" placeholder="Search Tickets" class="ticket-searchbar">
			<button type="submit" class="search-icon"><i class="fas fa-search search-icon"></i></button>
		</div>
	</div>
</section>

<section id="ticket-append" class="row">
	<!-- Tickets append here -->
</section>

<!-- <div class="modal" tabindex="-1" id="card-modal">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-title">Title</h5>
				<span class="badge priority-badge" id="priority-badge">BADGE</span>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="container" style="margin-bottom: 16px;">
					<div class="row col-12">
						<section class="col-4 date-modal">
							<time class="time-wrapper">
								<span id="created-date-modal" class="span-month">JANUARY</span>
								<span id="created-month-modal" class="span-date">01</span>
								<span id="created-year-modal">1900</span>
							</time>
						</section>
						<section class="col-8">
							<div class="mb-3">
								<h3>Description</h3>
								<div class="form-control" id="description-input-modal" readonly></div>
							</div>
							<div class="mb-3">
								<label for="system-input-modal mb-3">System</label>
								<input type="text" id="system-input-modal" class="form-control" readonly>
							</div>
							<div class="mb-3">
								<label for="system-input-modal mb-3">Assigned To</label>
								<input type="text" id="assignedto-input-modal" class="form-control" readonly>
							</div>
							<div class="mb-3">
								<label for="system-input-modal mb-3">Priority</label>
								<input type="text" id="priority-input-modal" class="form-control" readonly>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<div id="card-modal" class="modal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered ticket-modal">
	  <div class="modal-content">
		<div class="modal-header ">
		  <h5 id="modal-title" class="modal-title modal-ticket__title">Modal title</h5>
		  <div class="modal-ticket__priority">
			<span id="priority-badge" class="modal-ticket__priority-badge">PRIORITY</span>
		  </div>
		</div>
		<div class="modal-body modal-ticket-body">
			<form method="POST">
				<p class="modal-ticket__body">System</p>
				<input id="system-input-modal" type="text" class="form-control" readonly>
				  <p class="modal-ticket__body">Description</p>
				  <div class="form-control" id="description-input-modal" readonly></div>
				  <p class="modal-ticket__body">Created Date</p>
				<input id="create-date-modal" type="text" class="form-control" readonly>
				<p class="modal-ticket__body">Assigned To</p>
				<select class="form-select modal-ticket__assignedto">
					<option value="0" selected hidden></option>
				</select>
			</form>
			
			<!-- <input type="text" id="assignedto-input-modal" class="form-control" readonly> -->
		</div>
		<div class="modal-footer">
			<button id="modal-ticket__save" class="close-ticket__modal btn btn-outline__primary">Save Ticket</button>
			<button id="moda-ticket__close-ticket" class="close-ticket__modal btn btn-outline__dark">Close this Ticket</button>
		</div>
	  </div>
	</div>
  </div>

<div class="modal add-ticket-modal" tabindex="-1">
	<div class="modal-dialog modal-xl modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Ticket</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<!-- <p>Modal body text goes here.</p> -->
				<form action="POST">
					<h5>Ticket Name</h5>
					<input type="text" class="form-control add-ticket__ticketname">
					<h5>Ticket Description</h5>
					<textarea cols="30" rows="5" class="form-control add-ticket__description"></textarea>
					<h5>System</h5>
					<select class="form-select add-ticket__System">
						<option selected></option>
					</select>
					<h5>Priority</h5>
					<select class="form-select add-ticket__priority">
						<option value="0" selected hidden></option>
						<option value="4">Info</option>
						<option value="1">Low</option>
						<option value="2">Medium</option>
						<option value="3">High</option>
						<option value="5">Epic</option>
					</select>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary add-ticket__save" data-action="save-ticket">Save
					changes</button>
			</div>
		</div>
	</div>
</div>
<!-- Ticket Saved Modal -->
<div class="modal ticket_saved" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Ticket Saved</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<h4>Ticket Saved Successfully</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary delayed-reload" data-bs-dismiss="modal">Okay</button>
			</div>
		</div>
	</div>
</div>

{{ end }}
{{ define "script" }}
<script src="/static/ticketing/js/dashboard.js"></script>
<script>
	var system_url = "/admin/api/d/system/read/?"
	$.get(system_url, function (index, response) {
		system_url = JSON.parse(index).result
		$.each(system_url, function (key, value) {
			$(".add-ticket__System").append($('<option>', {
				value: value.ID,
				text: value.SystemName,
			}));
		})
	})
	// add ticket 
	$(".add-ticket-button").on('click', function () {
		$(".add-ticket-modal").modal('show');
	})
	$(".add-ticket__save").on('click', function () {
		$.ajax({
			"method": "POST",
			"data":
			{
				"data-action": "save-ticket",
				"name": $(".add-ticket__ticketname").val(),
				"description": $(".add-ticket__description").val(),
				"system": $(".add-ticket__System").val(),
				"priority": $(".add-ticket__priority").val(),
			}, "success": function () {
				$(".add-ticket-modal").modal('hide');
				$(".ticket_saved").modal('show');
				$(".add-ticket__ticketname").val("");
				$(".add-ticket__description").val("");
				$(".add-ticket__System").val("");
				$(".add-ticket__priority").val("");

			}
		})
	})
	$(".delayed-reload").on('click', function(){
		$(location).attr('href', '/ticketing/dashboard')
	})
</script>
{{ end }}