{{ define "title"}}
<title>
	Systems · Ticketing
</title>
{{ end }}
{{ define "style" }}
	<link rel="stylesheet" href="/static/ticketing/css/systems.css">
{{ end }}
{{ define "content"}}

<div class="row ticketing-header">
	<div class="col-6 ticketing-header__title">
		<h1 class="tickets-header">Systems</h1>
	</div>
</div>

<section class="row">
	<div class="borderbot"></div>
</section>

<section id="system-append" class="row">
	
</section>
{{ end }}
{{ define "script" }}
<script src="/static/ticketing/js/systems.js"></script>
{{ end }}
