{{ define "title"}}
<title>
	Tickets · Ticketing
</title>
{{ end }}
{{ define "style" }}
<link rel="stylesheet" href="/static/ticketing/css/tickets.css">
{{ end }}
{{ define "content"}}

<div class="row ticketing-header">
	<div class="col-6 ticketing-header__title">
		<h1 class="tickets-header">Tickets Closed</h1>
	</div>
</div>

<section class="row">
	<div class="container">
		<div class="search-bar-container">
			<input type="text" placeholder="Search Tickets" class="ticket-searchbar closed-tickets__searchbar">
			<button type="submit" class="search-icon"><i class="fas fa-search search-icon"></i></button>
		</div>
	</div>
</section>

<section id="ticket-append" class="row">
	<!-- Closed Tickets are appending here -->
</section>

<!-- Modals -->
<div id="closed-ticket-modal" class="modal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered ticket-modal">
	  <div class="modal-content">
		<div class="modal-header ">
		  <h5 id="modal-title" class="modal-title modal-ticket__title">Modal title</h5>
		  <div class="modal-ticket__priority">
			<span id="priority-badge" class="modal-ticket__priority-badge">PRIORITY</span>
		  </div>
		</div>
		<div class="modal-body modal-ticket-body">
			<p class="modal-ticket__body">System</p>
			<input id="system-input-modal" type="text" class="form-control" readonly>
		  	<p class="modal-ticket__body">Description</p>
		  	<div class="form-control" id="description-input-modal" readonly></div>
		  	<p class="modal-ticket__body">Date Closed</p>
			<input id="close-date-modal" type="text" class="form-control" readonly>
			<p class="modal-ticket__body">Assigned To</p>
			<input id="modal-ticket__assignedto" type="text" class="form-control modal-ticket__assignedto" readonly>
			<!-- <input type="text" id="assignedto-input-modal" class="form-control" readonly> -->
		</div>
		<div class="modal-footer">
			<button id="modal-closed-ticket__open" class="close-ticket__modal btn btn-outline__primary">Open Changes</button>
		</div>
	  </div>
	</div>
  </div>

  <!-- Closed Ticket Modal -->
  <div id="card-modal__close-ticket" class="modal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered ticket-modal">
	  <div class="modal-content">
		<div class="modal-header ">
		  <h5 id="modal-close-title" class="modal-title modal-ticket__title">Closed Ticket</h5>
		</div>
		<div class="modal-body modal-ticket-body">
			<form method="POST">
				<h5>Ticket Comment</h5>
        <textarea id="close-ticket__comment" cols="30" rows="5" class="form-control close-ticket__comment" readonly></textarea>
        <h5>Files Changed</h5>
        <input type="text" class="form-control" id="close-ticket__files-changed" readonly>
			</form>
		</div>
		<div class="modal-footer">
			<button id="modal-close-ticket__back" class="close-ticket__modal btn btn-outline__dark" data-bs-dismiss="modal">Close</button>
		</div>
	  </div>
	</div>
</div>
{{ end }}
{{ define "script" }}
<script src="/static/ticketing/js/closed-tickets.js"></script>
{{ end }}